.aboutContainer {
    padding: 0px 40px;

}

.aboutLeftContainer {
    /* border: 1px solid black; */
    height: 80%;
}

.aboutRightContainer {
    /* border: 1px solid gray; */
    height: 80%;
    padding: 0px 30px;
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.linkedInContainer {
    align-items: 'center';
    /* display: 'flex'; */
    margin-top: 10;
    /* flex-direction: row; */
    /* border: 1px solid black; */
    align-items: center;
    margin-bottom: 4%;
}

.linkedInContainer :hover {
    cursor: pointer;
}

a:link,
a:visited {
    color: #3978E6;
    text-decoration: none;
    cursor: auto;
}